# environment: local | TEE
environment: TEE

# network: testnet | mainnet
network: testnet

# Path to docker-compose file
docker_compose_path: ./docker-compose.yaml

agent_contract: 
  # NEAR Account Id of the contract
  # Fill this out with a unique contract id for your agent contract
  # For example: example-contract-123.testnet
  contract_id: ijsdfoijeqoifijf.testnet

  # Optional, if not provided the contract will not be deployed
  # and it's assumed the agent contract is already deployed to the contract_id
  # and is initialized
  deploy_custom:
    enabled: false
    # Amount to fund the agent contract with in NEAR
    funding_amount: 10
    # If true the key for contract account will be deleted after deployment locking it
    delete_key: false

    # Choose ONE of the following:
    # Option 1: Build contract from source and deploy
    deploy_from_source:
      enabled: false
      source_path: ./shade-contract-template
    # Option 2: Use pre-built WASM file
    deploy_from_wasm:
      enabled: true
      wasm_path: ./shade-contract-template/target/near/shade_contract.wasm
    # Option 3: Use a deployed global contract, specifying it by its hash
    use_global_by_hash:
      enabled: false
      global_hash: 8eHvv9q4eovoUgDXYEduwv3dbcfXkCyPP9TSmhUSxkcm

    # Optional, if not provided the contract will not be initialized
    init:
      enabled: true
      method_name: new
      # The <MASTER_ACCOUNT_ID> will automatically be replaced with the master account set up in the auth of the CLI
      # The <DEFAULT_MPC_CONTRACT_ID> will automatically be selected based on the network
      # The <REQUIRES_TEE> will automatically be selected based on the environment
      args: |
        {
          "owner_id": "<MASTER_ACCOUNT_ID>",
          "mpc_contract_id": "<DEFAULT_MPC_CONTRACT_ID>",
          "requires_tee": "<REQUIRES_TEE>"
        }
      # tgas: 30

# Optional, if not provided the current docker-compose.yaml file will be used
# Only applicable if the environment is TEE
build_docker_image:
  enabled: false
  # Fill this out with the docker tag you want to use. For example: pivortex/my-first-agent
  tag: pivortex/my-first-agent
  cache: true
  dockerfile_path: ../Dockerfile

# Optional, if not provided the codehash will not be approved
approve_codehash:
  enabled: true
  method_name: approve_measurements
  # The <CODEHASH> will automatically be replaced with the appropriate codehash
  # for local it will be set to "not-in-a-tee"
  # for TEE and docker disabled it will be set to the existing codehash in your docker-compose file
  # for TEE and docker enabled it will be set to the codehash of the docker image once it's pushed to the registry
  args: |
    {
      "measurements": {
        "rtmrs": {
          "mrtd": "f06dfda6dce1cf904d4e2bab1dc370634cf95cefa2ceb2de2eee127c9382698090d7a4a13e14c536ec6c9c3c8fa87077",
          "rtmr0": "68102e7b524af310f7b7d426ce75481e36c40f5d513a9009c046e9d37e31551f0134d954b496a3357fd61d03f07ffe96",
          "rtmr1": "daa9380dc33b14728a9adb222437cf14db2d40ffc4d7061d8f3c329f6c6b339f71486d33521287e8faeae22301f4d815",
          "rtmr2": "1c41080c9c74be158e55b92f2958129fc1265647324c4a0dc403292cfa41d4c529f39093900347a11c8c1b82ed8c5edf"
        },
        "key_provider_event_digest": "83368b43a0fc6f824f5a9220592df85fd30e2d405ecbd253a5c6354af63e6c9b41aec557c38a38e348ab87f9ac8fc68c",
        "app_compose_hash_payload": "a5fc6b82dbd2080f9da508501acf178dedb191e4195384cc57a77b2aac1dcafc"
      }
    }
  # tgas: 30

# Optional, if not provided the app will not be deployed to Phala Cloud
# Only applicable if the environment is TEE
deploy_to_phala:
  enabled: false
  app_name: my-first-agent
  env_file_path: ./.env

# Optional, if not provided the "shade-agent-cli whitelist" command will not be available
whitelist_agent:
  method_name: whitelist_agent
  # The <AGENT_ACCOUNT_ID> will automatically be replaced with the agent account id
  # specified when running the "shade-agent-cli whitelist" command
  args: |
    {
      "account_id": "<AGENT_ACCOUNT_ID>"
    }
  # tgas: 30
