# environment: local | TEE
environment: TEE

# network: testnet | mainnet
network: mainnet

# Path to docker-compose file
docker_compose_path: ./docker-compose.yaml

agent_contract: 
  # NEAR Account Id of the contract
  # Fill this out with a unique contract id for your agent contract
  contract_id: owens-contractoj.testnet
  
  # Optional, if not provided the contract will not be deployed 
  # and it will assume the agent contract is deployed to contract_id
  # and is already initialized
  deploy_custom: 
    enabled: true
    # Amount to fund the agent contract with in NEAR
    funding_amount: 7

    # Choose ONE of the following (mutually exclusive):
    # Option 1: Build contract from source and deploy
    deploy_from_source: 
      source_path: ./shade-contract-template
    # Option 2: Use pre-built WASM file
    # deploy_from_wasm:
    #   wasm_path: ./shade-contract-template/target/near/shade_contract_template.wasm

    # Optional, if not provided the contract will not be initialized
    init: 
      method_name: new
      # The MASTER_ACCOUNT_ID will automatically be replaced with the master account set up in the auth of the CLI
      # The DEFAULT_MPC_CONTRACT_ID will automatically be selected based on the network
      # The REQUIRES_TEE will automatically be selected based on the environment
      args: |
        {
          "owner_id": "<MASTER_ACCOUNT_ID>",
          "mpc_contract_id": "<DEFAULT_MPC_CONTRACT_ID>",
          "requires_tee": "<REQUIRES_TEE>"
        }
      # tgas: 10

# Optional, if not provided the current docker-compose.yaml file will be used
# Only ran if environment is TEE
build_docker_image:
  enabled: true
  # Fill this out
  tag: pivortex/shade-agent-test
  cache: true
  dockerfile_path: ./Dockerfile

approve_codehash:
  enabled: true
  method_name: approve_codehash
  # The CODEHASH will automatically be replaced with the codehash of the docker image once it's pushed to the registry
  args: |
    {
      "codehash": "<CODEHASH>"
    }
  # tgas: 10

# Optional, if not provided the app will not be deployed to Phala Cloud
deploy_to_phala:
  enabled: true
  app_name: my-first-shade-agent
  env_file_path: ./.env